<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QATA Repository Suite" parallel="methods" thread-count="6">
    <test name="Test injections">
        <classes>
            <class name="inj.StepsAutowiringTest"/>
            <class name="inj.StepsInjectionTest"/>
            <class name="inj.StepsInjectionTest"/>
        </classes>
    </test>
    <test name="Test proxy">
        <classes>
            <class name="proxy.RepositoryProxyTest"/>
        </classes>
    </test>

    <test name="Test Step chaining">
        <classes>
            <class name="inj.chain.ChainedStepsTest"/>
        </classes>
    </test>

    <test name="Test Sql file">
        <classes>
            <class name="sqlfile.SqlFileTest"/>
        </classes>
    </test>

</suite>